.error-toast {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px;
  background-color: #FFF9F9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  transition: opacity 0.3s, transform 0.3s;
}


.error-toast.hidden {
  opacity: 0;
  transform: translate(-50%, -20px);
  pointer-events: none;
}


.toast-content {
  display: flex;
  align-items: center;
  padding: 16px 20px;
}

.toast-icon {
  top: 0px;
  position: relative;
  flex-shrink: 0;
  margin-right: 12px;
}

.toast-message {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: relative; 
  top:-2px;
  font-weight: 500;
}

.toast-close {
  flex-shrink: 0;
  cursor: pointer;
  margin-left: 12px;
}

.toast-progress {
  height: 4px;
  width: 100%;
  background-color: #f0f0f0;
}

.toast-progress-bar {
  height: 100%;
  width: 100%;
  background-color: #FF3B30;
  transition: width 5s linear;
}

.success-toast {
  background-color: rgb(12, 245, 155);
}